#container {
    /*
    width: 500px;
    height: 500px;
    */
    box-sizing: border-box;
    display: inline-block;

}
.box {
    border: 1px solid black;
    display: inline-block;
    box-sizing: border-box;
}
#grid-container {
    display: inline-block;
    border: 2px solid black;
    
}
.row {
    display: block;
    width: 100%;
    font-size: 0;
}
#buttons {
    display: flex;
    flex-direction: column;
    float: left;
    margin-left: 5px;
    margin-right: 2%;
    justify-content: center;
}
#header {
    text-align: center;
}
#buttons button {
padding: 20px 0;
margin: 20px 0
}
#mainContainer {
    display: flex;
    justify-content: center;
}
.rainbowBtn {
    background-image: linear-gradient(red,orange,yellow,green,blue,indigo,violet);
    color: orangered;
}
.reset {
    background-color: red;
    color: white;
}
.black {
    background-color: black;
    color: white;
}
.eraserBtn {
    background-color: pink;
}